<div class="container">
	<br>
		<!-- Säätilastotietojen maksimi-, minimi- ja keskiarvot. -->
		<h4>{{aikavali}}</h4>
			<table class="table table-striped" id="saaMINMAXAVG">
				<tr class="title">
					<td>Nimike</td>
					<td>MAX</td>
					<td>MIN</td>
					<td>AVG</td>
				</tr>
				<tr>
					<td class="title">Tuulennopeus 1</td>
					<td class="table_data">{{saatilasto.MAXtuulennopeus1}}</td>
					<td class="table_data">{{saatilasto.MINtuulennopeus1}}</td>
					<td class="table_data">{{saatilasto.AVGtuulennopeus1}}</td>
				</tr>
				<tr>
					<td class="title">Tuulennopeus 2</td>
					<td class="table_data">{{saatilasto.MAXtuulennopeus2}}</td>
					<td class="table_data">{{saatilasto.MINtuulennopeus2}}</td>
					<td class="table_data">{{saatilasto.AVGtuulennopeus2}}</td>
				</tr>
					<td class="title">Tuulensuunta 1</td>
					<td class="table_data">{{saatilasto.MAXtuulensuunta1}}</td>
					<td class="table_data">{{saatilasto.MINtuulensuunta1}}</td>
					<td class="table_data">{{saatilasto.AVGtuulensuunta1}}</td>
				</tr>
				<tr>
					<td class="title">Tuulensuunta 2</td>
					<td class="table_data">{{saatilasto.MAXtuulensuunta2}}</td>
					<td class="table_data">{{saatilasto.MINtuulensuunta2}}</td>
					<td class="table_data">{{saatilasto.AVGtuulensuunta2}}</td>
				</tr>
				<tr>
					<td class="title">Sademäärä 1</td>
					<td class="table_data">{{saatilasto.MAXsademaara1}}</td>
					<td class="table_data">{{saatilasto.MINsademaara1}}</td>
					<td class="table_data">{{saatilasto.AVGsademaara1}}</td>
				</tr>
				<tr>
					<td class="title">Sademäärä 2</td>
					<td class="table_data">{{saatilasto.MAXsademaara2}}</td>
					<td class="table_data">{{saatilasto.MINsademaara2}}</td>
					<td class="table_data">{{saatilasto.AVGsademaara2}}</td>
				</tr>
				<tr>
					<td class="title">Ulkolämpötila 1</td>
					<td class="table_data">{{saatilasto.MAXulkolampotila1}}</td>
					<td class="table_data">{{saatilasto.MINulkolampotila1}}</td>
					<td class="table_data">{{saatilasto.AVGulkolampotila1}}</td>
				</tr>
				<tr>
					<td class="title">Ulkolämpötila 2</td>
					<td class="table_data">{{saatilasto.MAXulkolampotila2}}</td>
					<td class="table_data">{{saatilasto.MINulkolampotila2}}</td>
					<td class="table_data">{{saatilasto.AVGulkolampotila2}}</td>
				</tr>
				<tr>
					<td class="title">Ulkoilmankosteus</td>
					<td class="table_data">{{saatilasto.MAXulkoilmankosteus}}</td>
					<td class="table_data">{{saatilasto.MINulkoilmankosteus}}</td>
					<td class="table_data">{{saatilasto.AVGulkoilmankosteus}}</td>
				</tr>
				<tr>
					<td class="title">Sisäilmankosteus</td>
					<td class="table_data">{{saatilasto.MAXsisailmankosteus}}</td>
					<td class="table_data">{{saatilasto.MINsisailmankosteus}}</td>
					<td class="table_data">{{saatilasto.AVGsisailmankosteus}}</td>
				</tr>
				<tr>
					<td class="title">Sisäilmanpaine</td>
					<td class="table_data">{{saatilasto.MAXsisailmanpaine}}</td>
					<td class="table_data">{{saatilasto.MINsisailmanpaine}}</td>
					<td class="table_data">{{saatilasto.AVGsisailmanpaine}}</td>
				</tr>
				<tr>
					<td class="title">Ulkoilmanpaine</td>
					<td class="table_data">{{saatilasto.MAXulkoilmanpaine}}</td>
					<td class="table_data">{{saatilasto.MINulkoilmanpaine}}</td>
					<td class="table_data">{{saatilasto.AVGulkoilmanpaine}}</td>
				</tr>
				</div>
			</table>
	</div>