
		<!-- Säätilastotiedot taulukko -->		
			<table class="table table-striped" id="saatiedotTaulukko">
				<tr class="title">
					<td>ID</td>
					<td>Päivämäärä</td>
					<td>Kellonaika</td>
					<td>Tuulennopeus 1</td>
					<td>Tuulennopeus 2</td>
					<td>Tuulensuunta 1</td>
					<td>Tuulensuunta 2</td>
					<td>Sademäärä 1</td>
					<td>Sademäärä 2</td>
					<td>Ulkolämpötila 1</td>
					<td>Ulkolämpötila 2</td>
					<td>Ulkoilmankosteus</td>					
					<td>Sisäilmankosteus</td>
					<td>Sisäilmanpaine</td>
					<td>Ulkoilmanpaine</td>
				</tr>
				<tr ng-repeat="saatieto in saatiedot" class="table_data">
					<td>{{saatieto.id}}</td>
					<td>{{saatieto.pvm}}</td>
					<td>{{saatieto.kellonaika}}</td>
					<td>{{saatieto.tuulennopeus1}}</td>
					<td>{{saatieto.tuulennopeus2}}</td>
					<td>{{saatieto.tuulensuunta1}}</td>
					<td>{{saatieto.tuulensuunta2}}</td>
					<td>{{saatieto.sademaara1}}</td>
					<td>{{saatieto.sademaara2}}</td>
					<td>{{saatieto.ulkolampotila1}}</td>
					<td>{{saatieto.ulkolampotila2}}</td>
					<td>{{saatieto.ulkoilmankosteus}}</td>
					<td>{{saatieto.sisailmankosteus}}</td>
					<td>{{saatieto.sisailmanpaine}}</td>
					<td>{{saatieto.ulkoilmanpaine}}</td>
				</tr>
			</table>